* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
  body {
    width: 97%;
  }
}